/*Google Fonts URL*/
@import url('https://fonts.googleapis.com/css?family=Lobster:100,200,300,400,500,600,700,800|Roboto:100,200,300,400,500,600,700,800,900');

    .lobster{
    font-family: "Lobster", cursive;
    }
    .roboto{
    font-family: "Roboto", sans-serif;
    }
/*----COLORS-----*/
/*
 --NavyBlue:#091534;
 --DarkBlue: #1440B8;
 --BrightBlue:#0247FE;
 --Orange:#FB9902;
 --Peach:#F7E9D4;
*/
body{
    margin:0;
    /*Needed due to fixed navbar*/
    padding-top: 70px;
   
}
.info{
    margin-left: 0px;
    margin-right:0px;
}
.seperator{
    border-bottom: 3px dashed #FB9902;
}
/*-----Global Colours----*/
header,header div.row, footer, footer div.row{
    background-color: #091534;
    color:#FB9902;
}
/****HEADER STYLING******/
nav ul{
    margin-top:30px;
    list-style-type: none;
    margin-left:0;
    margin-right:0;
}
nav ul li{
    display:inline-block;
    
}
nav ul li i{
    margin-right:1.5rem;
    display:block;
    text-align: center;
}
nav ul li a{
    width:100%;
    padding:10px 15px;
    /*border: 1px solid #FB9902;*/
    color: #FB9902;
    transition:background-color .5s ease-in-out,color .5s ease-in-out;
}
nav ul li a:hover{
    background-color:#FB9902;
    color:#091534;
}
/****MAIN CONTENT******/

/*-----GENERAL------*/
h2,h3,h4,h5,h6{
    text-align: center;
    color:#FB9902;
}
#header-img{
    width:100%;
}
.content{
    display:flex;
    
}

/********ABOUT US SECTION************/
#aboutus{
    background-color:#F7E9D4;
}
#aboutus p{
    text-align: center;
}
.band_member{
    margin-bottom:4rem;
    height:35rem;
}
.band_member .well{
    width:60%;
    height:25em;
    
}
.band_member .well dl{
    display: table-cell
}
.band_member .well dl dd{
    display:inline-block;
}
.band_member .well dl dt:not(.bio){
    display:block;
}
/******MEDIA SECTION**********/
#media{
    min-height: 1px;
}

#media .row h3{
    text-align: center;
    padding:5px 5px;
}
#media .row p{
    text-align: center
}
.media_content{
    margin-bottom:5rem;
    
}
.well-peach{
    background-color: #F7E9D4;
    color:#1440B8;
}

/*******VIDEO ROW********/
#video_container{
    background-color: #F7E9D4;
    padding-bottom: 6rem;
}

/****FORM STYLING*****/
form textarea{
    width:100%;
}
/****FOOTER STYLING******/

footer ul{
    list-style-type: none;
    padding-left: 0;
}
footer h3{
    text-align: center
}
footer ul li{
    text-align: center;
    padding:10px 15px;
}
footer ul li a{
    width:100%;
    text-align: center;
    padding:10px 15px;
    color: #FB9902;
    transition:background-color .5s ease-in-out,color .5s ease-in-out;
    font-size: 26px
}

footer ul li a:hover{
    background-color:#FB9902;
    color:#091534;
}
#footer-right{
    border-top:3px dashed #FB9902;
}

/*BOOTSTRAP OVERRIDES*/
.navbar{
    background-color: #091534;
    color:#FB9902;
    
}

.navbar-brand{
    font-size: 36px;
}

/**MEDIA QUERIES**/
@media(min-width:768px){
    .navbar-nav{
        display:inline-flex;
        margin-top:2rem;
        font-size:20px;
        float:right !important;
    }
    
    footer i{
        font-size:30px;
        float:none;
        
        
    }
    #footer-right{
        border-top:none;
    }
    footer ul{
        display:inline-block;
        width:100%;
    }
    footer ul li{
        display:flex;
        justify-content:center;
        margin-left: auto;
        margin-right:auto;
    }
    .band_member .well{
        height:25em;
    }
    
}
@media(min-width:920px){
    .navbar-nav{
        letter-spacing: 3px;
    }
    .band_member {
        height:35rem;
    }
}