/*Google Fonts URL*/
@import url('https://fonts.googleapis.com/css?family=Lobster:100,200,300,400,500,600,700,800|Roboto:100,200,300,400,500,600,700,800,900');

    .lobster{
    font-family: "Lobster", cursive;
    }
    .roboto{
    font-family: "Roboto", sans-serif;
    }
/*----COLORS-----*/
/*
 --NavyBlue:#091534;
 --DarkBlue: #1440B8;
 --BrightBlue:#0247FE;
 --Orange:#FB9902;
 --Peach:#F7E9D4;
*/
body{
    margin:0;
}
/*-----Global Colours----*/
header, footer{
    background-color: #091534;
    color:#FB9902;
}
/****HEADER STYLING******/
nav ul{
    margin-top:30px;
    list-style-type: none;
    margin-left:0;
    margin-right:0;
}
nav ul li{
    display:inline-block;
    
}
nav ul li a{
    width:100%;
    padding:10px 15px;
    border: 1px solid #FB9902;
    color: #FB9902;
    transition:background-color .5s ease-in-out,color .5s ease-in-out;
}
nav ul li a:hover{
    background-color:#FB9902;
    color:#091534;
}


/****FOOTER STYLING******/
footer{
    
}
footer > h3{
    text-align: center;
}
footer ul {
    list-style-type:none;
}
footer ul li{
    display:inline-block;
    padding:10px 15px;
    border-radius:50px;
    border-color:#FB9902;
    border:1px #FB9902 solid;
    text-align:center;
}
footer a{
    color:#F7E9D4;
}
footer #information_links{
    
    
}